<nav class="nav" aria-label="Navigation Mosaic">
  <div class="container">
    <div class="nav__inner">

      <a href="/mosaic/" class="nav__logo">
        Langlink <span>Mosaic</span>
      </a>

      <ul class="nav__links">
    <li><a href="/">Accueil</a></li>
    {{ range .Site.Menus.mosaic }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>


      <a href="/classroom/" class="nav__switch">
        Vous êtes enseignant ? →
      </a>

      <button type="button" class="nav__cta nav__cta--pending" aria-disabled="true">
  Créer mon compte
</button>


    </div>
  </div>
</nav>
