<nav class="nav" aria-label="Navigation Classroom">
  <div class="container">
    <div class="nav__inner">

      <a href="/classroom/" class="nav__logo">
        Langlink <span>Classroom</span>
      </a>

      <ul class="nav__links">
    <li><a href="/">Accueil</a></li>
    {{ range .Site.Menus.classroom }}
    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
      <a href="/mosaic/" class="nav__switch">
        Découvrir Mosaic →
      </a>

      <a href="https://form.typeform.com/to/yy41uqJw"
   target="_blank"
   rel="noopener noreferrer"
   class="nav__cta">
  Donnez-nous votre avis
</a>
    </div>
  </div>
</nav>
